-content_for :header do
  = stylesheet_link_tag 'homepage.css'

.title
  ChessArabia
  
.menu
  [
  = link_to 'New Game', games_path, :method => "post"
  |
  = link_to 'Play Against Computer', play_with_computer_games_path, :method => "post"
  |
  = link_to 'Games Room', games_path
  |
  - if I18n.locale == :en
    = link_to 'بالعربية', "/?locale=ar"
  - else
    = link_to 'English', "/?locale=en"
  ]

.about
  Developed By
  %a{:href => "http://twitter.com/OmarQunsul", :target => "_blank"}= "Omar Qunsul"

%img{:src => "/images/knight.png", :style => "position: relative; left: 30px; width: 100px; left: 155px; top: -219px"}
