-content_for :header do
  = stylesheet_link_tag 'homepage.css'

#homepage
  #homepage-image
    %img{ :src => "/images/chess.png" }
  #homepage-text
    .title= "Play Free Chess"
    %p= "You can play Chess on our website with other players, and with your friends, easily and for Free. With just 1 click, you are ready to start playing"
    
    .buttons
      %a#play_now{ :href => "#" }= "Play Now!"
      %a#practice{ :href => "#" }= "Practice"
