-content_for :header do
  = stylesheet_link_tag 'homepage.css'

.title
  ChessArabia
  
.menu
  [
  = link_to t(:new_game), games_path, :method => "post"
  |
  = link_to t(:play_against_computer), play_with_computer_games_path, :method => "post"
  |
  = link_to t(:games_room), games_path
  |
  - if I18n.locale == :en
    = link_to 'بالعربية', "/?locale=ar"
  - else
    = link_to 'English', "/?locale=en"
  ]

.about
  = t(:developed_by)
  %a{:href => "http://twitter.com/OmarQunsul", :target => "_blank"}= t(:omar_qunsul)

%img{:src => "/images/knight.png", :style => "position: relative; left: 30px; width: 100px; left: 155px; top: -219px"}
