-content_for :header do
  = stylesheet_link_tag 'games_index.css'

.title
  ChessArabia
  
.menu
  [
  = link_to 'New Game', games_path, :method => "post"
  |
  = link_to 'Play Against Computer', play_with_computer_games_path, :method => "post"
  |
  = link_to 'Games Room', games_path
  ]

.games
  - @games.each do |game|
    .game{ :id => "game_#{game.id}" }
