-content_for :header do
  = stylesheet_link_tag 'board.css'
  = javascript_include_tag 'board.js'
  = javascript_include_tag "/socket.io/socket.io.js"
  :erb
    <style type="text/css">
      <% ['kB', 'qB', 'pB', 'rB', 'bB', 'nB', 'kW', 'qW', 'pW', 'rW', 'bW', 'nW'].each do |c| %>      
        .piece.<%= c %>{
          background-image: url('/images/pieces/<%= c %>.png');
        }
      <% end %>
    </style>
    
    <script type="text/javascript">
      game_id = <%= @game.id %>;
      player_seat = <%= @player_seat.to_json %>;
      player_code = <%= @player_code.to_json %>;
      cell_size = 47;
    </script>

#board_left
  #board_out
    #connecting_msg
      = t(:connecting)
    #board_container{ :style => "display: none" }
      #characters_top
        - characters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
        - characters = characters.reverse if @black
        - characters.each do |char|
          .char= char
      #numbers_left
        - numbers = (1..8).to_a
        - numbers = numbers.reverse unless @black
        - numbers.each do |num|
          .num= num
      #board
      .clearer
  #players_panel
    .player_info#white_panel
      .t= t(:white_player)
      .player_name
        - if @game.players['W']
          = User.player_code_name(@game.players['W'])
        - elsif ! @game.in_game?(@player_code)
          = link_to "[ #{t(:sit_here)} ]", sit_game_path(@game.id, :seat => 'W'), :method => "post"
        - else
          = "[ #{t(:waiting_for_player)} ]"
    
    .player_info#black_panel
      .t= t(:black_player)
      .player_name
        - if @game.players['B']
          = User.player_code_name(@game.players['B'])
        - elsif ! @game.in_game?(@player_code)
          = link_to "[ #{t(:sit_here)} ]", sit_game_path(@game.id, :seat => 'B'), :method => "post"
        - else
          = "[ #{t(:waiting_for_player)} ]"
    .clearer

#board_right
  .right_box#chat_box
    .title= t(:chat)
    .right_box_body
      #chat_list
      %input#chat_line{:type => "text"}
      %a#send_chat{:href => "#"}= t(:send)

  .right_box
    .title= t(:captured_pieces)
    .right_box_body
      #white_eaten_pieces
      #black_eaten_pieces

  .right_box
    .title= t(:moves)
    .right_box_body
      #moves_list
        - @game.moves.each do |move|
          .move_list_element
            = move['standard']

.clearer

-content_for :out_wrapper do
  .replace_box#replace_white{ :style => "display: none" }
    %h2= t(:promote_the_pawn_to)
    = link_to "<img src='/images/pieces/qW.png'/>".html_safe, replace_game_path(@game.id, :piece => "qW"), :remote => true, :class => "replace_piece"
    = link_to "<img src='/images/pieces/rW.png'/>".html_safe, replace_game_path(@game.id, :piece => "rW"), :remote => true, :class => "replace_piece"
    = link_to "<img src='/images/pieces/nW.png'/>".html_safe, replace_game_path(@game.id, :piece => "nW"), :remote => true, :class => "replace_piece"
    = link_to "<img src='/images/pieces/bW.png'/>".html_safe, replace_game_path(@game.id, :piece => "bW"), :remote => true, :class => "replace_piece"
  .replace_box#replace_black{ :style => "display: none" }
    %h2= t(:promote_the_pawn_to)
    = link_to "<img src='/images/pieces/qB.png'/>".html_safe, replace_game_path(@game.id, :piece => "qB"), :remote => true, :class => "replace_piece"
    = link_to "<img src='/images/pieces/rB.png'/>".html_safe, replace_game_path(@game.id, :piece => "rB"), :remote => true, :class => "replace_piece"
    = link_to "<img src='/images/pieces/nB.png'/>".html_safe, replace_game_path(@game.id, :piece => "nB"), :remote => true, :class => "replace_piece"
    = link_to "<img src='/images/pieces/bB.png'/>".html_safe, replace_game_path(@game.id, :piece => "bB"), :remote => true, :class => "replace_piece"

