-content_for :header do
  = stylesheet_link_tag 'board.css'
  = javascript_include_tag 'board.js'
  = javascript_include_tag "/socket.io/socket.io.js"
  :erb
    <style type="text/css">
      <% ['kB', 'qB', 'pB', 'rB', 'bB', 'nB', 'kW', 'qW', 'pW', 'rW', 'bW', 'nW'].each do |c| %>      
        .piece.<%= c %>{
          background-image: url('/images/pieces/<%= c %>.png');
        }
      <% end %>
    </style>
    
    <script type="text/javascript">
      rendered_moves = <%= @game.moves.map{|move| move['id']}.to_json %>;
      moves = <%= @game.moves.length %>;
      chat = <%= @game.chat_lines.length %>;
      cells = <%= @game.cells.to_json %>;
      pieces = {};
      next_moves = <%= @game.turn == @player_seat ? @game.next_moves.to_json : [].to_json %>;
      player_seat = <%= @player_seat.to_json %>;
      player_code = <%= @player_code.to_json %>;
      cell_size = 47;
      current_turn = <%= @game.turn.to_json %>;
      started = <%= @game.started?.to_json %>;
      finished = <%= @game.finished?.to_json %>;
      timer_id = 0;
      title1 = "الشطرنج العربية";
      title2 = "الشطرنج العربية - دورك الان";
      toggling = false;
      toggling_timer = -1;
      selected_cell = null;
      game_id = <%= @game.id %>;
      board_cells = {};
      
      $(function(){
        <% @game.eaten_pieces.each do |eaten_piece| %>
          add_eaten_piece(<%= eaten_piece.to_json %>);
        <% end %>
        <% if @game.moves.last %>
          show_last_moved_from(<%= @game.moves.last['from'].to_json %>);
          show_last_moved(<%= @game.moves.last['to'].to_json %>);
        <% end %>
      });
    </script>

#board_out
  #board_container
    #characters_top
      - characters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
      - characters = characters.reverse if @black
      - characters.each do |char|
        .char= char
    #numbers_left
      - numbers = (1..8).to_a
      - numbers = numbers.reverse unless @black
      - numbers.each do |num|
        .num= num
    #board
    .clearer
#players_panel
  .player_info#white_panel
    .t= "White Player"
    .player_name
      - if @game.players['W']
        = User.player_code_name(@game.players['W'])
      - elsif ! @game.in_game?(@player_code)
        = link_to '[ Sit Here ]', sit_game_path(@game.id, :seat => 'W'), :method => "post"
      - else
        = "[ Waiting for player ]"
  
  .player_info#black_panel
    .t= "Black Player"
    .player_name
      - if @game.players['B']
        = User.player_code_name(@game.players['B'])
      - elsif ! @game.in_game?(@player_code)
        = link_to '[ Sit Here ]', sit_game_path(@game.id, :seat => 'B'), :method => "post"
      - else
        = "[ Waiting for player ]"
  .clearer

.replace_box#replace_white{ :style => "display: none" }
  %h2= "استبدل الجندي بقطعة اخرى"
  = link_to "<img src='/images/pieces/qW.png'/>".html_safe, replace_game_path(@game.id, :piece => "qW"), :remote => true, :class => "replace_piece"
  = link_to "<img src='/images/pieces/rW.png'/>".html_safe, replace_game_path(@game.id, :piece => "rW"), :remote => true, :class => "replace_piece"
  = link_to "<img src='/images/pieces/nW.png'/>".html_safe, replace_game_path(@game.id, :piece => "nW"), :remote => true, :class => "replace_piece"
  = link_to "<img src='/images/pieces/bW.png'/>".html_safe, replace_game_path(@game.id, :piece => "bW"), :remote => true, :class => "replace_piece"
.replace_box#replace_black{ :style => "display: none" }
  %h2= "استبدل الجندي بقطعة اخرى"
  = link_to "<img src='/images/pieces/qB.png'/>".html_safe, replace_game_path(@game.id, :piece => "qB"), :remote => true, :class => "replace_piece"
  = link_to "<img src='/images/pieces/rB.png'/>".html_safe, replace_game_path(@game.id, :piece => "rB"), :remote => true, :class => "replace_piece"
  = link_to "<img src='/images/pieces/nB.png'/>".html_safe, replace_game_path(@game.id, :piece => "nB"), :remote => true, :class => "replace_piece"
  = link_to "<img src='/images/pieces/bB.png'/>".html_safe, replace_game_path(@game.id, :piece => "bB"), :remote => true, :class => "replace_piece"

