.forms_page
  .forms_page_left
    %h2= "Profile Information"
    - if current_user == @user
      %p= "This is your profile, #{link_to 'Edit', edit_player_path(current_user)} it".html_safe
    - else
      %p= "Here you can find all the information about <b>#{@user.name}</b>".html_safe

  .forms_page_right
    %h1= @user.name
    %h2= t(:player_information)
    = form_for current_user, :url => player_path(current_user) do |f|
      %ul.full_column_form
        %li.element
          = f.label t(:name)
          %span= @user.name
        - if @user == current_user
          %li.element
            = f.label t(:email_address)
            %span= @user.email
        %li.element
          = f.label t(:country)
          %span= @user.country || "N/A"
        .clearer
