.forms_page
  .forms_page_left
    %h2= "How does rating work?"
    %p
      = "To know more about how the rating system in our website works, please click "
      %a{ :href => "#"}= "here"
    - if user_signed_in?
      %h2= "Edit your profile"
      %p
        = "To edit your profile please press"
        %a{ :href => edit_player_path(current_user) }= "here"
  .forms_page_right
    %h2= "Top Players"
    - @players.each do |user|
      %a.image_link{ :href => player_path(user) }
        .player_info_line
          %span.player_name= user.name
          %span.player_rating= user.rating
          %span.country
            - if user.country
              %img.country_flag{ :src => "/images/circle_flags/flag_#{user.country.downcase.gsub(" ", "_")}.png" }
            %span.player_country= user.country || "N/A"
          .clearer
