!!! Strict
%html
  %head
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    - if true
      <link href='http://fonts.googleapis.com/css?family=Istok+Web&v2' rel='stylesheet' type='text/css'>
    %title= I18n.locale == :ar ? "الشطرنج العربية Chessarabia" : "Chessarabia"
    <meta content='شطرنج، عربي، عربية، الشطرنج، العاب، مجانا، العب مجانا، ملك، رقعة، رقعة الشطرنج، الوزير، القلعة، كسباروف، خطط شطرنج' name='keywords'>
    <meta content='العب شطرنج مجانا' name='description'>
    = stylesheet_link_tag 'general.css'
    = stylesheet_link_tag 'forms.css'
    %meta{:name => 'csrf-param', :content => 'authenticity_token'}/
    %meta{:name => 'csrf-token', :content => form_authenticity_token}/
    = javascript_include_tag 'jquery-1.4.3.min.js'
    = javascript_include_tag 'rails_jquery.js'
    = javascript_include_tag 'application.js' 
    = javascript_include_tag 'jquery.json-2.2.min.js'
    = javascript_include_tag 'underscore.js'
    = javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
    = javascript_include_tag "rails.validations", "rails.validations.custom"
    = yield :header
    %script{:type => "text/javascript"}
      :erb
        player_name = <%= @player_name.to_json %>;
        guest = <%= @guest.to_json %>;
        locale = <%= I18n.locale.to_json %>;
        <% translate_keys = [:time_to_move, :white_resigned, :black_resigned] %>
        translate_hash = <%= translate_keys.inject({}){|h, k| h[k.to_s] = I18n.translate(k); h}.to_json %>;
        
        function translate(k){
          return translate_hash[k] || k;
        }

  %body

    #wrapper
      #header
        #logo
          %a{ :href => "/" }= "Chess Arabia"
        #top-header-links
          #top-links
            %a{ :href => "/" }= t(:homepage)
            %span.sep
            %a{ :href => "/games" }= t(:games_room)
            %span.sep
            %a{ :href => "/players/top" }= t(:top_players)

          #nav-links
            - unless current_user
              %a{ :href => new_user_session_path }= t(:sign_in)
              %a{ :href => new_user_registration_path }= t(:sign_up)
            - else
              %a{ :href => edit_player_path(current_user) }= current_user.name
              %a{ :href => destroy_user_session_path }= t(:sign_out)
      #wrapper_body
        = yield
              
